.css-selector {
    background: linear-gradient(90deg, #5067b9, #1c2237);
    background-size: 400% 400%;
       -webkit-animation: mrpnavbar 3s ease infinite;
   -moz-animation: mrpnavbar 3s ease infinite;
   -o-animation: mrpnavbar 3s ease infinite;
   animation: mrpnavbar 3s ease infinite;  width: 100%;
}

@-webkit-keyframes mrpnavbar {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes mrpnavbar {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes mrpnavbar {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes mrpnavbar {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}